# PostgreSQL
DATABASE_URL=postgresql://postgres:sifre@localhost:5432/borsa_pro

# Production (Supabase)
# DATABASE_URL=postgresql://postgres:[SIFRE]@db.[PROJE].supabase.co:5432/postgres

# Redis
REDIS_URL=redis://localhost:6379

NODE_ENV=development
